

* {
    font-family: 'Courier New', Courier, monospace;

}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}
/* haut de page */
/* mettre cote a cote */

  

header.header{
    display: flex;
    align-items: center;
}

/* changer la dimension du logo */
header.header img {
    width: 150px;
}

section.top-page {
    background: url('../images/background.jpg');
    background-size: cover;
    height: 80vh;
    /* decaler la tagline (phrase de la marque) */
    padding: 25px;
}

/* main page */
.landing-page {
    /* decaler */
    padding: 20px 50px;
}


.big-title{
    color: white;
    font-size: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    width:60%;

}



/* naviguer haut de page */

nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 50px;
    margin-top: -40px;

    
}

nav.nav li {
    color:rgb(0, 0, 0);
    text-decoration:dotted;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

form {
    margin-top: 20px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
}  

form h1{
    color: green;
    text-align:center;
}
  

form .social-media p{
    padding: 5px;
    width: 20px;
    margin-left: 10px;
    border-radius: 100%;
    border: 1px solid #545454;
    text-align: center;
    cursor:pointer;
    color: #545454;
}
  

form p.choose-email{
    text-align:center;
}

  

form .inputs {
    display: flex;
    flex-direction: column;
}
  

form .inputs input[type='email'], input[type='password']{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
}
form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
}

form p.inscription span{
    color: green;
}

form button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: brown;
    outline:none;
    cursor:pointer;
}

  
  
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}
.image {
    margin: 0;
    flex: 1;
    padding: 1rem;
    border: 1px solid #d8d8d8;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.1)
}
  
  .image + .image {
    margin-left: 10px;
}
  
  .image-item {
    width: 100%;
    vertical-align: top;
}
  
  .image-description {
    margin-top: 20px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;  
}

html {
    scroll-behavior: smooth;
}

